.card {
  border-radius: var(--card-radius);
  display: flex;
  overflow: hidden;
  background-color: var(--white);
}

.cardImage {
  flex: 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--silver);
}

.cardText {
  flex: 1 66%;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantityWidget {
  display: flex;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.quantityWidget button {
  padding: 0.5rem;
  border: none;
}

.quantityWidget input {
  border: none;
}

.quantityWidget button:hover {
  background-color: #5a5a5a;
  color: var(--white);
  transition: 300ms;
}

.productForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

input {
  padding: 0.5rem;
  background-color: var(--silver);
}

.cardText h3 {
  font-size: 1rem;
}

.cartIcon {
  max-width: none;
  flex-shrink: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
