.cart {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--silver);
}

.cartBody {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "itemList itemList bill"
    "itemList itemList bill"
    "itemList itemList checkout"
    "itemList itemList space"
    "itemList itemList space";

  @media (width < 500px) {
    grid-template-areas:
      "itemList"
      "bill"
      "checkout";
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 2rem;

  @media (max-width: 500px) {
    padding: 0.5rem;
  }
}

th {
  border-top: 1px dotted var(--silver);
  border-bottom: 1px dotted var(--silver);
}

.totalPrompt {
  text-align: end;
}

.cartComponent {
  padding: 2rem;
  background-color: var(--white);
  border-radius: var(--btn-radius);
}

.space {
  grid-area: space;
}

.itemList {
  composes: cartComponent;
  grid-area: itemList;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bill {
  composes: cartComponent;
  grid-area: bill;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout {
  border: none;
  grid-area: checkout;
  border-radius: 25px;
  padding: 1.8rem 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--white);
  background-color: var(--carbon-black);
}

.checkout:hover {
  cursor: pointer;
  background-color: var(--red);
  transition: background-color 300ms;
}

@media (max-width: 500px) {
  .cart {
    align-items: center;
  }

  th,
  td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .itemList {
    padding: 1rem;
    align-items: center;
  }

  .bill {
    padding: 1rem;
    gap: 1rem;
    align-items: center;
  }
}
